.app-splash-screen {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  z-index: 9999;
  overflow: hidden;
}

.app-label {
  color: #fff;
  font-size: 2.5em;
  font-family: "Pacifico", cursive;
}

.app-splash-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-logo {
  background-image: url("/assets/movie.png");
  background-repeat: no-repeat;
  max-width: 100%;
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 100px;
}

.bg-red {
  color: var(--color-red);
}