$jackpot-green: var(--color-green);
$jackpot-light-grey: var(--color-light-grey);
$jackpot-grey: var(--color-grey);
$jackpot-white: var(--color-white);

.nav-expand-color {
  color: $jackpot-grey;

  .menu-btn {
    background-color: $jackpot-light-grey;
    margin: 0.5rem 0;
  }
}

.dropdown-menu {
  background-color: $jackpot-grey;
}

.nav-info {
  height: 60px;
  display: block;
  line-height: 60px;
  color: $jackpot-white;
  font-size: 1.2rem;
  padding: 0 1rem;
}

.bg-green {
  background-color: $jackpot-green;
}

.navbar {
  top: 0;
  z-index: 100;
  padding: 0;
  background-color: $jackpot-grey;
  width: 90%;
  margin: 0 auto;
}

.menu-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  &:hover {
    background: $jackpot-green;
    cursor: pointer;
  }
}

@media only screen and (max-width: 992px) {
  .menu-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .nav-item {
    width: 100%;
  }
}

// ===========

.logo {
  width: 90px;
  height: 90px;
}

.navbar-brand {
  color: var(--color-red);
  font-size: 22px;
  font-weight: 800;
}

.navbar-collapse {
  justify-content: flex-end;
}

.bg-red {
  background-color: var(--color-red);
}

.button {
  transition: 0.3s;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-light-grey);
  white-space: pre;
  &:hover {
    border: 1px solid var(--color-red);
    background-color: var(--color-light-grey);
    color: var(--color-red);
  }
}

.input {
  font-size: 13px;
  color: var(--color-red);
}

.cursor-event {
  cursor: pointer;
}

.user {
  font-size: 14px;
  color: var(--color-light-grey);
}

.button-logout {
  color: var(--color-red);
  background-color: var(--color-light-grey);
  border: 1px solid var(--color-red);
  transition: 0.3s;
  &:hover {
    color: var(--color-red);
  }
}

.errors {
  font-size: 12px;
  padding-top: 0.5rem;
  color: var(--color-light-grey);
}

.input-control-email {
  position: relative;

  .error-content-email {
    position: absolute;
    top: 30px;
    left: 0px;
  }
}

.input-control-password {
  position: relative;

  .error-content-password {
    position: absolute;
    top: 30px;
    left: 0px;
  }
}

.errors {
  font-size: 12px;
  padding-top: 0.5rem;
  color: var(--color-red);
}

.text-primary {
  color: var(--color-red);
  width: 14px;
  height: 14px;
  margin-right: 0.5rem;
}

.user-content {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .user-content {
    display: flex;
    align-items: start;
    flex-direction: column;
  }
}
