<div class="navbar position-fixed w-100">
  <nav class="navbar navbar-expand-lg nav-expand-color">
    <div class="container-fluid px-0">
      <div
        class="d-flex justify-content-start align-items-center cursor-event"
        routerLink="/"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
      >
        <img class="logo" src="/assets/movie.png" />
        <a class="d-none d-sm-block navbar-brand">Share Youtube Videos</a>
      </div>
      <button
        class="navbar-toggler nav-expand-color menu-btn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form
          [formGroup]="form"
          class="my-4 sm-my-0 container mx-0"
          (submit)="onSubmit()"
          *ngIf="!user; else login"
        >
          <div
            class="ow d-flex flex-column flex-md-row  justify-content-start justify-content-lg-end"
          >
            <div class="col col-md-3 px-0 input-control-email">
              <input
                type="email"
                class="input form-control"
                formControlName="email"
                placeholder="Email"
              />
              <div
                *ngIf="email?.touched && email?.errors"
                class="error-content-email"
              >
                <div class="errors text-white" *ngIf="email?.errors?.['required']">
                  Email is required.
                </div>
                <div class="errors text-white" *ngIf="email?.errors?.['pattern']">
                  Invalid email
                </div>
              </div>
            </div>
            <div
              class="col col-md-3 px-0 my-2 my-md-0 mx-0 mx-md-2 input-control-password"
            >
              <input
                type="password"
                class="input form-control"
                formControlName="password"
                placeholder="Password"
              />
              <div
                *ngIf="password?.touched && password?.errors"
                class="error-content-password"
              >
                <div class="errors text-white" *ngIf="password?.errors?.['required']">
                  Password is required.
                </div>
                <div class="errors text-white" *ngIf="password?.errors?.['pattern']">
                  Invalid password
                </div>
              </div>
            </div>
            <div class="col col-md-2 px-0 mt-4 mt-sm-0">
              <button
                [disabled]="form.invalid"
                type="submit"
                class="btn button bg-red"
                (click)="onSubmit()"
              >
                <div class="d-flex justify-content-center align-items-center">
                  <div
                    class="spinner-border text-primary"
                    role="status"
                    *ngIf="isLoading$ | async"
                  >
                    <span class="visually-hidden">Loading...</span>
                  </div>
                  <div>Login / Register</div>
                </div>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>

<ng-template #login>
  <div class="user-content mb-4 mb-lg-0">
    <div class="user me-4">Welcome {{ user?.email }}</div>
    <button
      type="button"
      class="btn button bg-red me-4 my-2 my-md-0"
      routerLink="/share"
      [ngClass]="{ 'd-none': urlActive === '/share' }"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
    >
      Share a movie
    </button>
    <button
      type="button"
      class="btn button button-logout mt-2 mt-md-0"
      (click)="onLogout()"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
    >
      Logout
    </button>
  </div>
</ng-template>
