<div class="navbar position-fixed w-100">
  <nav class="navbar navbar-expand-lg nav-expand-color">
    <div class="container-fluid px-0">
      <div class="d-flex justify-content-start align-items-center cursor-event" routerLink="/">
        <img class="logo" src="/assets/movie.png" />
        <a class="d-none d-sm-block navbar-brand">Share Youtube Videos</a>
      </div>
      <button
        class="navbar-toggler nav-expand-color menu-btn"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form [formGroup]="form" class="my-4 sm-my-0 container">
          <div class="row d-flex flex-column flex-md-row justify-content-end align-items-center">
            <div class="col col-md-4 px-0">
              <input
                type="email"
                class="input form-control"
                formControlName="email"
                placeholder="Email"
              />
            </div>
            <div class="col col-md-4 px-0 my-2 my-md-0 mx-0 mx-md-2">
              <input
                type="password"
                class="input form-control"
                formControlName="password"
                placeholder="Password"
              />
            </div>
            <div class="col col-md-2 px-0">
              <button
                type="button"
                class="btn button bg-red"
                (click)="onSubmit()"
              >
                Login / Register
              </button>

              <button
                type="button"
                class="btn button bg-red"
                routerLink="/share"
                [ngClass]="{'d-none': urlActive === '/share'}"
              >
                Share a movie
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>
</div>
