.card {
  width: 50%;
  margin: 0 auto;
}

.card-body {
  width: 100%;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 992px) {
  .card {
    width: 80%;
  }
}
@media only screen and (max-width: 576px) {
  .card-body {
    padding: 1rem;
  }
}
.title {
  color: var(--color-red);
  font-size: 22px;
  font-weight: 800;
}

.col-form-label{
  font-size: 14px;
  font-weight: 500;
}


.bg-red {
  background-color: var(--color-red);
}

.bg-light {
  background-color: var(--color-light-grey);
}

.button {
  transition: 0.3s;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-light-grey);
  white-space: pre;
  &:hover {
    border: 1px solid var(--color-red);
    background-color: var(--color-light-grey);
    color: var(--color-red);
  }
}

.button-cancel{
  color: var(--color-red);
  background-color: var(--color-light-grey);
  &:hover {
    border: 1px solid var(--color-red);
    color: var(--color-red);
  }
}