<div class="container pb-5">
  <div
    class="row"
    *ngIf="!((isLoading$ | async) || (isLoadingYT$ | async)); else loading"
  >
    <div class="col col-12" *ngFor="let video of videos">
      <app-video [video]="video"></app-video>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class='d-flex justify-content-center align-items-center mt-5'>
    <div class="spinner-border color-red" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

</ng-template>
